page-home {
    .contaier {
        margin: 10px;
        ul {
            list-style: none;
            width: 100%;
            padding: 0 20px;
            h1 {
                font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
                color: #242424;
                margin-bottom: -15px;
            }
            li {
                margin: 30px 0;
                border-bottom: 1px solid #cacaca;
                img {
                    float: left;
                    margin: 0 15px 0 0;
                    object-fit: cover;
                    width: 45px;
                    height: 45px;
                    border-radius: 45px;
                }
                button {
                    float: right;
                    margin: -80px 0 0 0;
                }
                p {
                    font: 200 12px/1.5 Georgia, Times New Roman, serif;
                    color: lighten(#242424, 10%);
                }
                strong {
                    font-weight: bold;
                }
            }
        }
    }
}